header{
    background-color: aqua;
    height: 100px;
}

.container-1{
    background-color: aquamarine;
    height: 400px;
}

.container-2{
    width:80%;
}

.container-3{
    background-color:gray;
}

